.venv/

backend/__pycache__/
backend/app/__pycache__/

# Gmail API credentials and tokens (IMPORTANT: Never commit these!)
backend/credentials.json
backend/token.json


frontend/node_modules/
frontend/.next/

frontend/out/

.DS_Store

.env.local
.env.production
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

frontend

# Ignore generic environment files
.env
backend/.env
frontend/.env
backend/data/emails.db
backend/app/vector_store/30a300c1-7620-44d6-9096-3c1a9a052e4d/length.bin
backend/app/vector_store/30a300c1-7620-44d6-9096-3c1a9a052e4d/data_level0.bin
