fastapi
uvicorn
requests
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pydantic
pytest
pytest-asyncio
ibm-watson
ibm-cloud-sdk-core
httpx
sentence-transformers
chromadb
sqlalchemy
